.CustomerClassesCard{
    border: 1px solid black;
    margin-bottom: 5px;
    padding:5px
}
.CustomerContainer{
    min-height: 500px;
    padding: 20px 0 20px 0;
    background-color: #007cba;
    margin: 0px 50px 0px 50px;
    border-radius: 25px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.CustomerForm{
    flex-basis: 30%;
    max-height: 500px;
    overflow: scroll;
    padding:0px 10px 0px 10px;
    background-color: white;
    border-radius: 25px;

}
.CustomerTable{
    flex-basis: 60%;
    border:1px solid black;
    max-height: 500px;
    overflow: scroll;
    background-color: white;
    border-radius: 25px;
}

.CustomerTableHead{
    border-bottom:1px solid black;
    padding:5px;
    text-align: left;
}