.classCardFlex{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 10px 0px 10px;
}
.classCardContainer{
    min-height: 400px;
    padding-top: 20px;
    background-color: #007cba;
    margin: 0px 50px 0px 50px;
    border-radius: 25px
}

.classCardTitle{
    color:white
}
.classCard{
    border-radius: 25px;
    border: 1px solid black;
    flex-basis: 20%;
    padding:20px;
    background-color:white;
    max-height: 100px
}
.TeacherClassForm{
    padding:20px;
    flex-basis: 20%;
}

.TeacherClassFormLabel{
    color:white;
}
.AddClassPicture{
    flex-basis: 20%;
}
#classPicture{
    max-width: 400px;
}
